@using PagedList;
@using PagedList.Mvc;
@model IPagedList<DemandOrderSystem.Models.ViewModel.TableSevenViewModel>

@{
    ViewBag.Title = "撤件明細";
}

@*@section styles
    {
        <link href="~/Content/PagedList.css" rel="stylesheet" />
    }*@


<h2>撤件明細</h2>

<p>
    <div class="row">
        @using (Html.BeginForm("TableSeven", "Order", FormMethod.Get))
        {
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div>
                    <div class="form-group">
                        @*@Html.Label("結案日: ")
                        <div>
                            @Html.TextBox("caseCloseDate", "2013-11-30", new { @class = "form-control", type = "date" })
                        </div>*@
                        @Html.Label("撤件日期大於: ")
                        <div>
                            @Html.TextBox("dischargeDate", "2014-11-30", new { @class = "form-control", type = "date" })
                        </div>

                        @Html.Label("需求單號查詢: ")
                        <div>
                            @Html.TextBox("orderID", "", new { @class = "form-control" })
                        </div>
                        <br />
                        <input type="submit" value="查詢" class="btn btn-info" />
                    </div>
                    <div>
                        @Html.Label("符合條件總數: ") @TempData["TempDataTest"]
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div>
                    <div>
                        @Html.Label("部室選擇: ") @Html.DropDownList("applyDept", null, "", new { @class = "form-control" })
                    </div>
                    @*@Html.Label("Order By: ")
                    <div>
                        @Html.RadioButton("orderby", "OrderID") @Html.Label("OrderID")
                        @Html.RadioButton("orderby", "Application_department") @Html.Label("Application_department")
                    </div>*@
                </div>
            </div>
            @*<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div>
                    <div>
                        @Html.ActionLink("匯出查詢結果至Excel檔案", "OutExcel", new { Date1 = Request.Params["Date1"], Date2 = Request.Params["Date2"], Room = Request.Params["Room"] }, new { @class = "btn btn-info", })
                    </div>
                </div>
            </div>*@
        }

    </div>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ApplyDept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ApplySec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Applicant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DischargeDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyDept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplySec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Applicant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DischargeDate)
            </td>
            @*<td>
                @Html.ActionLink("Details", "Detail", new { orderId = item.OrderID }) 
            </td>*@
        </tr>
    }

</table>
<form method="get">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("TableSeven", new { page })
+ "&caseCloseDate=" + Request.Params["caseCloseDate"]
+ "&dischargeDate=" + Request.Params["dischargeDate"]
+ "&applyDept=" + Request.Params["applyDept"]
+ "&orderID=" + Request.Params["orderID"])
</form>
