@using PagedList
@using PagedList.Mvc
@model DemandOrderSystem.Models.ViewModel.TableEightViewModel

@{
    ViewBag.Title = "已完成驗收但尚未結案";
}

<h2>已完成驗收但尚未結案</h2>

@{
    List<SelectListItem> items = new List<SelectListItem>{
                new SelectListItem {Text = "驗收", Value = "驗收", Selected = true},
                new SelectListItem {Text = "結案", Value = "結案"}
    };
}

<p>
    <div class="row">
        @using (Html.BeginForm("TableEight", "Order"))
        {

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div >
                    <div class="form-group">
                        @Html.Label("驗收結束日期大於: ")
                        <div>
                            @Html.TextBox("acceptionTestFinishDate_0", "", new { @class = "form-control", @type = "date" })
                        </div>
                        @Html.Label("驗收結束日期小於: ")
                        <div>
                            @Html.TextBox("acceptionTestFinishDate_1", "", new { @class = "form-control", @type = "date" })
                        </div>
                        @Html.Label("需求單號查詢: ")
                        <div>
                            @Html.TextBox("orderID", "", new { @class = "form-control" })
                        </div>
                        <br />
                        <input type="submit" value="查詢" class="btn btn-info" />
                    </div>
                    <div>
                        @Html.Label("符合條件總數: ") @Html.DisplayFor(Model => Model.Count)
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div>
                    <div>
                        @Html.Label("資訊室: ") @Html.DropDownList("maintainITDept_list", null, "請選擇", new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.Label("狀態: ") @Html.DropDownList("orderState", items, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        }
 
    </div>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TableEight.FirstOrDefault().MaintainITDept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TableEight.FirstOrDefault().MaintainITSec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TableEight.FirstOrDefault().DemandDutyPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TableEight.FirstOrDefault().OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TableEight.FirstOrDefault().OrderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TableEight.FirstOrDefault().State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TableEight.FirstOrDefault().AcceptionTestFinishDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.TableEight)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaintainITDept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaintainITSec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DemandDutyPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptionTestFinishDate)
            </td>
            <td>
                @Html.ActionLink("Details", "Detail", new { orderId = item.OrderID }) 
            </td>
        </tr>
    }

</table>

<form>
    @Html.PagedListPager((IPagedList)Model.TableEight, page => Url.Action("TableEight", new { page , orderState = Request.Params["orderState"] })
+ "&acceptionTestFinishDate_0=" + Request.Params["acceptionTestFinishDate_0"]
+ "&acceptionTestFinishDate_1=" + Request.Params["acceptionTestFinishDate_1"]
//+ "&orderState=" + Request.Params["orderState"]
+ "&maintainITDept_list=" + Request.Params["maintainITDept_list"]
+ "&orderID=" + Request.Params["orderID"])
</form>