@using PagedList;
@using PagedList.Mvc;
@model IPagedList<DemandOrderSystem.Models.ViewModel.TableThreeViewModel>

@{
    ViewBag.Title = "已交付UAT但尚未結案之明細表";
}

<h2>已交付UAT但尚未結案之明細表</h2>


<p>
    <div class="row">
        @using (Html.BeginForm("TableThree", "Order", FormMethod.Get))
        {
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div>
                    <div class="form-group">
                        <div>
                            @Html.Label("驗收起始日大於: ") @Html.TextBox("acceptionTestStartDate_0", "", new { @class = "form-control", type = "date" })
                        </div>
                        <div>
                            @Html.Label("驗收起始日小於: ") @Html.TextBox("acceptionTestStartDate_1", "", new { @class = "form-control", type = "date" })
                        </div>
                        <br />
                        <input type="submit" value="查詢" class="btn btn-info" />
                    </div>
                    <div>
                        @Html.Label("符合條件總數: ") @TempData["TempDataTest"]
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div>
                    @Html.Label("部室選擇: ") @Html.DropDownList("applyDept", null, "", new { @class = "form-control" })
                </div>
                <div>
                    @Html.Label("需求單號查詢: ") @Html.TextBox("orderID", "", new { @class = "form-control" })
                </div>
                @*<div>
                    @Html.Label("需求單狀態: ") @Html.DropDownList("orderState", items, "", new { @class = "form-control" })
                 </div>*@
            </div>
        }
    </div>
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ApplyDept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Applicant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DemandDutyPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AcceptionTestStartDate)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.驗收結束日)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyDept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Applicant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DemandDutyPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptionTestStartDate)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.驗收結束日)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderName)
            </td>
            <td>
                @Html.ActionLink("Details", "Detail", new { orderId = item.OrderID })
            </td>
        </tr>
    }

</table>

<form method="get">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("TableThree", new { page })
//+ "&orderState=" + Request.Params["orderState"]
+ "&acceptionTestStartDate_0=" + Request.Params["acceptionTestStartDate_0"]
+ "&acceptionTestStartDate_1=" + Request.Params["acceptionTestStartDate_1"]
+ "&applyDept=" + Request.Params["applyDept"]
+ "&orderID=" + Request.Params["orderID"])
</form>
