@model DemandOrderSystem.Models.ViewModel.TableSixViewModel

@{
    ViewBag.Title = "各業務線別逾預估完成日未結案件數統計及明細表";
}

<h2>各業務線別逾預估完成日未結案件數統計及明細表</h2>


<p>
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <div>
                        @Html.Label("預估完成日小於") @Html.TextBox("date", "", new { @class = "form-control", type = "date" })
                    </div>
                    <br />
                    <input type="submit" value="查詢" class="btn btn-info" />
                </div>
            </div>
        </div>
    }
</p>


<table class="table">

    <tr>
        <th>
            資訊部室
        </th>
        <th>
            維護線別
        </th>
        <th>
            受理
        </th>
        <th>
            驗收
        </th>
        <th>
            合計
        </th>
    </tr>

    <tr>
        @foreach (var item in Model.ITDept)
        {
            foreach (var list in item.維護類別)
            {
            <tr>
                <td>
                    @item.ITDept
                </td>
                <td>
                    @list.MaintainLine
                </td>
                <td>
                    @list.Accepted
                </td>
                <td>
                    @list.Acceptance
                </td>
                <td>
                    @list.Total
                </td>
            </tr>
            }

        }
        <tr>
            <td>
                總計
            </td>
            <td></td>
            <td>
                @Model.Sum_Accepted
            </td>
            <td>
                @Model.Sum_Acceptance
            </td>
            <td>
                @{int total = Model.Sum_Acceptance + Model.Sum_Accepted;}
                @total
            </td>
        </tr>



    </table>


    <p>
        @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
            @Html.ActionLink("Back to List", "Index")*@
    </p>
