@using PagedList;
@using PagedList.Mvc;
@model DemandOrderSystem.Models.ViewModel.TableSevenViewModel

@{
    ViewBag.Title = "撤件明細";
}

@*@section styles
    {
        <link href="~/Content/PagedList.css" rel="stylesheet" />
    }*@


<h2>撤件明細</h2>

<p>
    <div class="row">
        @using (Html.BeginForm("TableSeven", "Order", FormMethod.Get))
        {
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div>
                    <div class="form-group">
                        @Html.Label("撤件日期大於: ")
                        <div>
                            @Html.TextBox("dischargeDate", "", new { @class = "form-control", type = "date" })
                        </div>
                        <br />
                        <input type="submit" value="查詢" class="btn btn-info" />
                    </div>
                    <div>
                        @Html.Label("符合條件總數: ") @Html.DisplayFor(Model => Model.Count)
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div>
                    <div>
                        @Html.Label("部室選擇: ") @Html.DropDownList("applicant_department_list", null, "請選擇", new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.Label("需求單號查詢: ") @Html.TextBox("orderID", "", new { @class = "form-control" })
                    </div>
                </div>
            </div>

        }

    </div>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TableSeven.FirstOrDefault().ApplyDept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TableSeven.FirstOrDefault().ApplySec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TableSeven.FirstOrDefault().Applicant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TableSeven.FirstOrDefault().OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TableSeven.FirstOrDefault().OrderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TableSeven.FirstOrDefault().DischargeDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.TableSeven)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyDept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplySec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Applicant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DischargeDate)
            </td>
            @*<td>
                @Html.ActionLink("Details", "Detail", new { orderId = item.OrderID }) 
            </td>*@
        </tr>
    }

</table>
<form method="get">
    @Html.PagedListPager((IPagedList)Model.TableSeven, page => Url.Action("TableSeven", new { page })
+ "&caseCloseDate=" + Request.Params["caseCloseDate"]
+ "&dischargeDate=" + Request.Params["dischargeDate"]
+ "&applicant_department_list=" + Request.Params["applicant_department_list"]
+ "&orderID=" + Request.Params["orderID"])
</form>
