@using PagedList
@using PagedList.Mvc
@model DemandOrderSystem.Models.ViewModel.TableAllViewModel

@{
    ViewBag.Title = "需求單系統總表";
}

<h2>需求單系統總表</h2>
<p>
    @Html.ActionLink("下載總表", "TableAllExcelDownload")
</p>

@using (Html.BeginForm("TableAll", "Order", FormMethod.Get))
{
    <div class="form-horizontal">
        <hr />
        <div class="form-group col-md-4">
        @Html.Label("申請人部室選擇: ")@Html.DropDownList("applicant_department_list", null, "", new { @class = "form-control" })
        @Html.Label("資訊室選擇: ")@Html.DropDownList("information_management_list", null, "", new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            @Html.Label("評估收件日起始: ")@Html.EditorFor(model => model.evaluate_recived_date_start, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.evaluate_recived_date_start, "", new { @class = "text-danger" })
            @Html.Label("評估收件日截止: ")@Html.EditorFor(model => model.evaluate_recived_date_end, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.evaluate_recived_date_end, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-4">
            @Html.Label("結案日起始: ")@Html.EditorFor(model => model.closed_date_start, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.closed_date_start, "", new { @class = "text-danger" })
            @Html.Label("結案日截止: ")@Html.EditorFor(model => model.closed_date_end, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.closed_date_end, "", new { @class = "text-danger" })
        </div>
            <div class="form-group col-md-4">
                <input type="submit" value="查詢" class="btn btn-info" />
            </div>
        
    </div>
}


<div class=" col-md-12" style="overflow: auto;padding:0px;height:600px;">
    <div>
        <table class="table table-bordered">
            <thead style="white-space:nowrap">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().ApplyDept)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().ApplySec)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().Applicant)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().OrderID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().OrderName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().ITDept)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().State)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().ExpectCompleteDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().ExpectRecieveDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().ExpectStartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().ExpectFinishDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().AcceptionTestStartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().AcceptionTestFinishDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().CaseCloseDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().MaintainLine)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().MaintainITDept)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().MaintainITSec)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().DemandDutyPerson)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().ClassNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderList.FirstOrDefault().ClassName)
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model.orderList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplyDept)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplySec)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Applicant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ITDept)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpectCompleteDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpectRecieveDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpectStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpectFinishDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AcceptionTestStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AcceptionTestFinishDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CaseCloseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaintainLine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaintainITDept)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaintainITSec)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DemandDutyPerson)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassName)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


@Html.PagedListPager(Model.orderList, page => Url.Action("TableAll", new { page }) +
                                                                            "&applicant_department_list=" + Request.Params["applicant_department_list"] +
                                                                            "&information_management_list=" + Request.Params["information_management_list"] +
                                                                            "&evaluate_recived_date_start=" + Request.Params["evaluate_recived_date_start"] +
                                                                            "&evaluate_recived_date_end=" + Request.Params["evaluate_recived_date_end"] +
                                                                            "&closed_date_start=" + Request.Params["closed_date_start"] +
                                                                            "&closed_date_end=" + Request.Params["closed_date_end"])

