<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 需求單報表系統</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("需求單報表系統", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">需求單功能 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li role="separator" class="divider"></li>
                            <li><a href="~/Order/TableAll">總表</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="~/Order/TableOne">1</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="~/Order/TableTwo">2</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="~/Order/TableThree">3</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="~/Order/TableFour">分類統計表</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="~/Order/TableFive">未結案且未回覆預估完成日件數統計及明細表</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="~/Order/TableSix">6</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="~/Order/TableSeven">7</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 需求單報表系統</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
